# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Database
database/*.db
database/*.sqlite3

# Uploaded Files & Temporary Data
resumes/
job_descriptions/
outputs/

# VS Code / IDEs
.vscode/
.idea/
